<template>
  <div class="container">
    <div class="today"></div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
        <div class="add-control">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="✍️ Add item..."/>
            <i class="fa fa-plus form-control-feedback add-btn" title="Add item"></i>
          </div>
        </div>
        <p class="err text-danger text-center hidden"><i class="fa fa-warning"></i> Oops! Please, enter name item</p>
        <p class="no-items text-muted text-center hidden"><i class="fa fa-ban"></i></p>
        <ul class="todo-list">
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'HomeView',
}
</script>
